<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="assets/icons/se.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="/assets/css/argon.min.css" rel="stylesheet">
    <!-- WYSIWYG -->
    <link rel="stylesheet" href="assets/css/wysiwyg.css">
    <!-- google sign in -->
    <meta name="google-signin-client_id"
    content="671055566664-1ivqkltn9i3krrjjbj4vutdajefh7um1.apps.googleusercontent.com">

    <title>Simple - WordPress</title>
</head>

<body>
    <div id="app">
        <!-- auth -->
        <auth :is-login='isLogin' @state="webstate" @user-data="setUserData" ></auth>

        <!-- registration form modal -->
        <custom-modal-register></custom-modal-register>

        <!-- login form modal -->
        <custom-modal-login @state="webstate" @user-data="setUserData" ></custom-modal-login>

        <!-- header nav -->
        <nav id="header" v-if="header === true" class="navbar navbar-dark shadow "
            style="background-color:rgb(96, 117, 225)">
            <a class="navbar-brand" href="#" style="font-size:20px" @click="webstate('login')"><i class="fas fa-feather-alt"></i> Simple-WP </a>
            <button type="button" class="btn rounded" style="background-color:rgb(13, 61, 94); color:white;"
                @click="webstate('write-article')">
                <i class="fas fa-newspaper"></i> Write new Article</button>
            <!-- navbar search bar -->
            <form class="form-inline my-1 my-lg-0" @submit.prevent="getAllArticleSearch(searchword)">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by article title..."
                    aria-label="Search" v-model="searchword">
                <button class="btn my-1 my-sm-0" style="background-color:rgb(13, 61, 94); color:white;"
                    type="submit">Search</button>
            </form> 
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" style="background-color: #CCE6F4;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"> {{fullName}}</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Update profile</button>
                    <button class="dropdown-item" type="button" @click="logout">Log out</button>
                </div>
            </div>
        </nav>

        <!-- navigation bar -->
        <div id="navigation" v-if="nav === true" class="row mt-3 container-fluid">
            <div class="col-3">
                <div class="nav flex-column nav-pills bg-light border rounded shadow" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <a class="nav-link active my-1" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">All Article</a>
                    
                    
                    <a class="nav-link my-1" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content border rounded shadow" id="v-pills-tabContent"
                    style="overflow-y:auto;max-height:500px">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <form class="form-inline my-1 my-lg-0" @submit.prevent="getArticleFromTag(tagword)">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search by article tag..."
                                    aria-label="Search" v-model="tagword">
                                <button class="btn my-1 my-sm-0" style="background-color:rgb(13, 61, 94); color:white;"
                                    type="submit">Search</button>
                            </form>
                            <hr>
                        <!-- ini artikel keseluruhan -->
                        <div class="card border rounded mb-3" v-for="article in articles" v-if="articles.length > 0 && searchResult.length === 0">
                            <div class="card-header">
                                <div class="d-flex flex-row-reverse card-text">
                                    <div class="mx-2">
                                        <img :src='article.author.profilePhoto' style="width:100px"
                                            class="img-fluid border border-primary rounded-circle" alt="article-picz">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            Author : {{article.author.fullName}}
                                        </div>
                                        <div class="card-text">
                                            Posted :
                                            {{deDate(article.createdAt)}}
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <button type="button" class="my-2 btn btn-outline-danger btn-sm align-self-end"
                                        v-if='article.author._id.toString() == userId' @click="deleteArticle(article._id)">Delete this Article</button>
                            </div>
                            <div class="card-body text-primary">
                                <a href="#" @click='readThisArticle(article._id)'>
                                    <h3 class="card-title"><b>{{article.title}}</b></h3>
                                </a>
                                <div class="d-flex">
                                    <div id="article-picture" class="mr-3">
                                        <img :src='article.featured_image' style="height:150px;width:300px"
                                            class="img-fluid border rounded border-primary" alt="article-picz">
                                    </div>
                                    <div class="d-flex flex-column">
                                            <div id="article-content">
                                                    <p class="card-text">Description : {{article.description}}</p>
                                                </div>
                                                
                                                <div class="row mt-3left: 0" >
                                                        <button v-for="tag in article.tags" v-if="tag != ''" type="button" class="badge badge-pill badge-secondary text-white article-caps m-2" style="background-color: lightgrey; font-size: 10px; ">{{ tag }}</button>
                                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!-- jika tidak ada artikel -->
                        <div class="card border rounded mb-3" v-if="articles.length === 0 && searchResult.length === 0">
                            <div id="article-content">
                                <p class="card-text">No article in database!</p>
                            </div>
                        </div>
                        <!-- jika ada hasil pencarian -->
                        <div class="text-center " v-if="searchResult.length > 0"><h2>Search Result : </h2> </div>
                        <div class="card border rounded mb-3" v-for="article in searchResult" v-if="searchResult.length > 0">
                            <div class="card-header">
                                <div class="d-flex flex-row-reverse card-text">
                                    <div class="mx-2">
                                        <img :src='article.author.profilePhoto' style="width:100px"
                                            class="img-fluid border border-primary rounded-circle" alt="article-picz">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            Author : {{article.author.fullName}}
                                        </div>
                                        <div class="card-text">
                                            Posted :
                                            {{deDate(article.createdAt)}}
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <button type="button" class="my-2 btn btn-outline-danger btn-sm align-self-end"
                                        v-if='article.author._id.toString() == userId' @click="deleteArticle(article._id)">Delete this Article</button>
                            </div>
                            <div class="card-body text-primary">
                                <a href="#" @click='readThisArticle(article._id)'>
                                    <h3 class="card-title"><b>{{article.title}}</b></h3>
                                </a>
                                <div class="d-flex">
                                    <div id="article-picture" class="mr-3">
                                        <img :src='article.featured_image' style="height:150px;width:300px"
                                            class="img-fluid border rounded border-primary" alt="article-picz">
                                    </div>
                                    <div class="d-flex flex-column">
                                            <div id="article-content">
                                                    <p class="card-text">Description : {{article.description}}</p>
                                                </div>
                                                
                                                <div class="row mt-3left: 0" >
                                                        <button v-for="tag in article.tags" v-if="tag != ''" type="button" class="badge badge-pill badge-secondary text-white article-caps m-2" style="background-color: lightgrey; font-size: 10px; ">{{ tag }}</button>
                                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>

                    
                    
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        Halaman Update user profile
                    </div>
                </div>
            </div>
        </div>

        <!-- add new article form -->
        <add-article :add-article-form="addArticleForm" @state="webstate" @new-articles="pushNewArticles"></add-article>

        <!-- One Article to Read -->
        <div v-if="readOneArticle === true" class="row vh-100 vw-100 container-fluid" >
            <div class="card border rounded mb-3" style="min-width:100%" >
                        <div class="card-header">
                            <div class="d-flex flex-row-reverse">
                                    <div class="mx-2">
                                            <img :src='oneArticle.author.profilePhoto' style="width:100px"
                                                class="img-fluid border border-primary rounded-circle" alt="article-picz">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            Author : {{oneArticle.author.fullName}}
                                        </div>
                                        <div class="card-text">
                                            Posted :
                                            {{deDate(oneArticle.createdAt)}}
                                        </div>
                                    </div>
                            </div>
                                <button type="button" class=" btn btn-outline-danger btn-sm align-self-end"
                                    v-if='oneArticle.author._id.toString() == userId' @click='startEditArticle(oneArticle._id)'>Edit this Article</button>
                                <button type="button" class=" btn btn-outline-warning btn-sm align-self-end"
                                    @click="webstate('login')">Back</button>
                        </div>
                <div class="card-body text-primary">
                        <h3 class="card-title text-center"><b>{{oneArticle.title}}</b></h3>
                        <div class="d-flex flex-column">
                                <div id="article-picture" class="my-1 text-center">
                                    <img :src='oneArticle.featured_image' style="width:50%"
                                        class="img-fluid border rounded border-primary" alt="article-picz">
                                </div>
                                <div id="article-content" class="">
                                    <p class="card-text text-justify" v-html='oneArticle.content'></p>
                                </div>
                                <hr style="margin-top: 0">
                                <div class="row mx-auto">
                                    <button v-if="tag" v-for="tag in oneArticle.tags" type="button" class="btn-sm text-white article-caps m-2" style="background-color: lightgrey; font-size: 15px">{{ tag }}</button>
                                </div>
                        </div>
                </div>  
            </div>
        </div>

        <!-- edit article form -->
        <div v-if="editArticleForm === true"  class="row vh-100 vw-100">
                <div class="col-sm d-flex flex-column justify-content-center overflow-auto rounded px-auto main-content">
                    <form class="container mt-3" @submit.prevent="submitEditArticle(articleId)">
                        <div class="form-group">
                            <label for="title">
                                <h3>Title</h3>
                            </label>
                            <input v-model="title" type="text" class="form-control" id="title"
                                placeholder="Enter a descriptive and unique title (max. 20 characters)">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="title">
                                <h3>Description</h3>
                            </label>
                            <input v-model="description" type="text" class="form-control" id="description"
                                placeholder="this will appear in article's thumbnail (max. 20 characters)">
                        </div>
                        <br>
                        
                        <div class="form-group">
                            <label for="content">
                                <h3>Your Story</h3>
                            </label>   
                            <wysiwyg v-model="content" />
                        </div>
                        <button class="h5 btn btn-primary mt-2" type="submit">Post</button>
                        <button class="h5 btn btn-danger mt-2" @click="readThisArticle(article._id)">Cancel Edit - Back to Article</button>
                    </form>
                </div>
        </div>
   
    
    
    
    
    </div>



    <!-- Core -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Theme JS -->
    <script src="/assets/js/argon.min.js"></script>
    <!-- vue cdn and other packages -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/wysiwyg.js"></script>
    <!-- google script -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <!-- components -->
    <script src="script/components/auth.js"></script>
    <script src="script/components/custom-modal-login.js"></script>
    <script src="script/components/custom-modal-register.js"></script>
    <script src="script/components/add-article.js"></script>
    <!-- vue instance -->
    <script src="script/index.js"></script>
</body>

</html>